ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 15px;
    gap: 5px;
}
li{
    list-style-type: none;
    width: 100%;
    height: 100%;
    background-color: rgb(56, 106, 172);
    color: white;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
}
li>img{
    width: 100%;
    height: 80%;
}
.btns{
    bottom: 0;
}