ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 5px;
    align-items: start;
}
li{
    list-style-type: none;
    width: 100%;
    height: 100%;
    max-height: 350px;
    background-color: rgb(255, 137, 251);
    color: white;
    display: flex;
    flex-direction: column;
    border: 1.75px solid black;
    position: relative;
    border-radius: 10px;
}
li>img{
    width: 100%;
    height: 82%;
    min-height: 78%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
/* K-Drama Title */
li>h2{
    padding: 2px 0 0 5px;
    font-size: 19px;
    text-align: center;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: .1px rgb(80, 41, 255);
}
.btns{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
button{
    border-radius: 5px;
    border: 1px solid pink;
    width: 85px;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: bisque;
}
@media only screen and (min-width:300px) and (max-width:425px) {
    ul{
        gap: 10px;
    }
    li>h2{
        font-size: 12px;
    }
    button{
        font-size: 8px;
        width: 60px;
    }
}
@media only screen and (min-width:520px) {
    ul{
        gap: 30px;
    }
    li>h2{
        font-size: 25px;
    }
    button{
        font-size: 15px;
        width: 105px;
    }
}
@media only screen and (min-width:630px) {
    li>h2{
        font-size: 27px;
    }
    button{
        font-size: 17px;
        width: 115px;
    }
}

@media only screen and (min-width:720px) {
    ul{
        grid-template-columns: 1fr 1fr 1fr;
    }
    li>h2{
        font-size: 20px;
    }
    button{
        font-size: 14px;
        width: 92px;
    }
}
@media only screen and (min-width:1024px) {
    ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 80%;
        margin-top: 40px;
    }
    li>h2{
        font-size: 23px;
    }
}