*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(rgb(0, 3, 88),rgb(0, 0, 0)); */
}
nav{
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(rgb(0, 0, 0),rgb(48, 1, 34)); */
    height: 30px;
    padding:2px 15px;
    position: relative;
}
nav>p{
    color: rgb(100, 0, 194);
    font-size: 23px;
    letter-spacing: 1.2px;
    display: inline-block;
    width: 110px;
 }
nav>a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
    color:rgb(0, 0, 0);
    width: 110px;
    text-align: center;
    transition: all 1s;
}
nav>a:last-of-type{
    text-align: right;
}
nav>a:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 0 5px;
}
main{
    flex: auto;
}