*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(182, 103, 255, 0.473),rgb(192, 192, 192));
    height: 30px;
    padding:2px 15px;
    position: relative;
}
nav>p{
    color: rgb(100, 0, 194);
    font-size: 23px;
    letter-spacing: 1.2px;
    display: inline-block;
    width: 110px;
 }
nav>a{
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
    color:rgb(0, 0, 0);
    width: 110px;
    text-align: center;
    transition: all 1s;
}
nav>a:last-of-type{
    text-align: right;
}
nav>a:hover{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    padding: 0 5px;
}
main{
    flex: auto;
    /* background: linear-gradient(rgb(195, 195, 195),rgb(255, 169, 169)); */
    background: linear-gradient(rgb(195, 195, 195),rgb(252, 188, 188));
}


@media only screen and (min-width:250px) and (max-width:425px){
    nav{
        height: 20px;
    }
    nav>p{
        font-size: 18px;
        width: 100px;
    }
    nav>a{
        font-size: 16px;
        width: 100px;
    }
}

@media only screen and (min-width:768px){
    nav{
        height: 40px;
    }
    nav>p{
        font-size: 27px;
        width: 140px;
    }
    nav>a{
        font-size: 25px;
        width: 140px;
    }
}