figure{
    width: 100vw;
    position: relative;
    padding: 10px 5px;
}
img{
    width: 50%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}
figcaption{
    width: 70%;
    display: block;
    margin: 0 auto;
}
figcaption>h2{
    text-align: center;
}
.figHead{
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}
.episodes{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 8px 0;
}
.episodes> p{
    font-size: 15px;
}
.synopsis{
    line-height: 1.3;

}

/* Reviews */

section{
    width: 70%;
    display: block;
    margin:0 auto;
}
.sectionHead{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
li{
    list-style-type: none;
    padding: 10px 0;
}
li:first-of-type{
    padding-top: 20px;
}
li>p{
    padding-bottom: 5px;
}
.reviewFooter{
    display: flex;
    justify-content: space-between;
}

.line{
    border-bottom: 2.5px solid rgb(108, 108, 108);
    border-radius: 3px;
    margin: 10px auto;
    width: 70%;
}

@media only screen and (min-width:768px){
    h2{
        font-size: 32px;
    }
    h5{
        font-size: 18px;
    }
    p{
        font-size: 20px;
    }
    .episodes>p{
        font-size: 20px;
    }
    button{
        width: 130px;
        font-size: 16px;
    }
    figcaption{
        width: 60%;
    }
    section{
        width: 60%;
    }
}


@media only screen and (min-width:1024px){
    figure{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 30px;
        max-width: 1000px;
        margin: 0 auto;
    }
    img{
        width: 40%;
        max-width: 500px;
    }
    figcaption{
        width: 50%;
    }
    section{
        max-width: 900px;
        margin: 0 auto;
    }
}